/*Created by Matt Chieco, Eamon Duffy, Kyle Gorman SER 360*/
label {
  width: 200px;
  float: left;
  margin: 0 20px 0 0;
}

span {
  display: block;
  margin: 0 0 3px;
  font-size: 1.2em;
  font-weight: bold;
}

input {
  width: 200px;
  border: 1px solid #000;
  padding: 5px;
}

#wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding-top {
  padding-top: 25px;
}

.padding-left {
  padding-left: 25px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}

.input-group-lg {
  height: 100px;
  width: 98%;
}

.btncls {
  margin-left: 25px;
  float: right;
  height: 100px;
  width: 100px;
}

.dropwidth{
  width: 250px;
}
